p {
    width: 200px;
    border: 3px solid blueviolet;
    padding: 10px;
    text-align: center;
    outline-style: dashed;
    margin: auto;
}
.profileLink a {
    background-color: white;
    padding: 14px 25px;
    color: orange;
    text-align: center;
    display: inline-block;
}
.profileLink a:hover {
    background-color: blue;
}
