{% extends "base.html" %}
{% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}
{% block content %}
        <h1>About Me:</h1>
        <p>I am Liam Kemp and my favourite subjects are chemistry, mathematics and computing. I like to study particles, bonding, algorithms, and trends in data. I wish to eventually become a professor in chemistry.</p>
        <p>Email me at liam.kemp09@icloud.com</p>
        <a class="profileLink" href="https://www.linkedin.com/in/liam-kemp-951a5b397/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BQlO3ZyoFQhiieXrWcpDDXw%3D%3D">My linkedin profile</a>
{% endblock %}
