<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block style %}{% endblock %}
  <title>{% block title %}Liam's website{% endblock %}</title>
</head>
<body>
  <header>
    <ul class="topnav">
      {% for item in nav.top %}
      <div class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
      </div>
      {% endfor %}
      <div>
        <label class="switch">
          <input type="checkbox" id="check">
          <span class="slider round"></span>
        </label>
      </div>
    </ul>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>My email: liam.kemp09@icloud.com</p>
  </footer>
  <script src="{{ url_for('static', filename='feedback.js') }}"></script>
</body>
</html>
